.spin-time{
    animation: spin 5s linear infinite;}

    @keyframes spin {
        0%, 100% {
            transform: translateY(-25%);
            /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
          }
          50%{
            transform: translateX(50%);
            /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
          }
      }